.bg-back {
    background-image: url(../images/wp3416334.webp);
    background-position: center center;
    background-size: cover;
    position: relative;
}

.bg-back::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.434);
    z-index: -1;
}

.outer-box {
    border: 1px solid black;
    padding: 70px 0;
    width: 100%;
}

.inner-box {
    border: 1px solid red;
    background-color: rgba(92, 90, 99, 0.702);
    padding: 20px 30px;
}

.outer-box a {
    color: black;
    text-decoration: none;
}

.page-box {
    border: 1px solid black;
    padding: 45px;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

input {
    /* padding: 12px !important; */
    border-radius: 5px;
    font-size: 16px !important;
    height: 50px !important;
}

.ans-box {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.386);
    /* padding: 12px !important; */
    height: 50px;
    background-color: rgba(214, 214, 214, 0.389);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ans-box h4 {
    font-size: 18px;
    color: white;
    margin: 0;
}

.green {
    background-color: rgba(86, 146, 86, 0.827) !important;
}

.red {
    background-color: rgba(139, 82, 82, 0.74) !important;
}

.form-control {
    background-color: rgb(214, 214, 214);
}

.form-control:focus {
     box-shadow: 0 0 0 .25rem rgba(101, 101, 102, 0.657) !important;
    border-color: #58595b !important;
}

.btn-dark {
    background-color: rgb(94, 94, 94);
}